@{
    ViewData["Title"] = "Home Page";
}

@* This line includes the style from the "index.ts" entrypoint *@
@section Styles {
	<link rel="stylesheet" vite-href="~/views/privacy.ts" asp-append-version="true" />
}
<main role="main" id="app">
</main>

<!-- This line includes your "privacy.ts" entrypoint -->
<script type="module" vite-src="~/views/privacy.ts"></script>
